<div class="page-header">
  <div>
    <div style="font-size: 0.8rem; margin-bottom: 0.25rem;">
      <%= link_to @project.name, project_path(@project) %> &rsaquo;
      <%= link_to "Settings", settings_project_path(@project) %> &rsaquo; Edit Rule
    </div>
    <h1>Edit Notification Rule</h1>
  </div>
</div>

<%= render "form", project: @project, notification_rule: @notification_rule %>
